* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url("IMG_7390 (1).jpg");
	background-size: 100%;
}

aside 
	float: right;
}

nav a {
	padding: 40px;
	color: white; 
	font-family: Arial, serif; 
	font-size: 40px
	font-weight: 800;
	text-decoration: none;
}

h1 {
	padding: 40px;
	font-family: Arial, serif;
	font-size: 60px;
	font-weight: 800;
	color: white;
	text-transform: uppercase;
}

ul {
	padding-left: 20px;
	color: white;
}

li a {
	color: white;
	font-family: Arial, serif;
	font-size: 20px;
	font-weight: 800px;
	text-decoration: none;
	font-style: italic;
	text-transform: lowercase;
}