* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url("http://s8.postimg.org/fiy2wp6np/IMG_7390.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

aside {
	float: right;
}


nav a {
	padding: 40px;
	color: white; 
	font-family: Arial, serif; 
	font-size: 40px
	font-weight: 800;
	text-decoration: none;
}

h1 {
	padding: 40px;
	font-family: Arial, serif;
	font-size: 60px;
	font-weight: 800;
	color: white;
	text-transform: uppercase;
}

main {
	margin-top: 350px;
	background-color: #8AE0D4;
}

h3 {
	padding: 0px;
	font-family: Arial, serif;
	font-size: 30px;
	font-weight: 400;
	color: white;
}

p {
	font-family: Arial, serif;
	font-size: 20px;
	font-weight: 400;
	color: white;
}

p a {
	font-family: Arial, serif;
	font-size: 20px;
	font-weight: 400;
	color: white;
	text-decoration: none;
}

ul {
	padding-left: 20px;
	color: white;
}

li a {
	color: white;
	font-family: Arial, serif;
	font-size: 20px;
	font-weight: 800px;
	text-decoration: none;
	font-style: italic;
	text-transform: lowercase;
}

footer a {
	font-family: Arial, serif;
	font-size: 20px;
	font-weight: 400;
	color: #8AE0D4;
	text-decoration: none;
	text-align: center;
}